/* ==== Color ==== */

$dark: #303030;
$a: #232323;
$a-dark: #D6D6D6;
$a-hover: #FF6347;
$a-dark-hover: #FF7D66;
$dropdown-bg: #F7F7F7;
$light-nav: #FBFBFB;
$dark-nav: #393939;
$mob-nav-burger-light: #CDCDCD;
$mob-nav-burger-dark: #505050;
$sec-light: #F6F6F6;
$sec-dark: #484848;
$panel: #292929;